<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="events.css">


    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        overflow: auto;
      }

    </style>


  </head>

<body style="margin:0;min-width: 1100px;">

  <a href="" id="head">
    Site Name
  </a>

  
  <p id="listLabel">
    Event List
  </p>
  <ul class="list">
    <li class="eventItem">MHacks Hackathon</li>
    <li class="eventItem">PennApps</li>
    <li class="eventItem">hackRU</li>
    <li class="eventItem">MHacks Hackathon</li>
    <li class="eventItem">PennApps</li>
    <li class="eventItem">hackRU</li>
    <li class="eventItem">MHacks Hackathon</li>
    <li class="eventItem">PennApps</li>
    <li class="eventItem">hackRU</li>
    <li class="eventItem">MHacks Hackathon</li>
    <li class="eventItem">PennApps</li>
    <li class="eventItem">hackRU</li>    
  </ul> 
  <br>
  <div id="buttonDiv">
    <input type="button" class="button" value="Create New Event"/>
  </div>
</body>

</html>