html{
    background: #FFFFFF no-repeat center center fixed;
}

.skill{
	margin-left: 20px;
}

.input{
	font-size: 15px;
	border: 1px solid black;
	height: 20px;
	width: 300px;
}

#head{
	width: 50%;
	border-bottom: 1px groove rgba(0,0,0,.1);
	margin-top: -50px;
	padding-left: 20px;
	font-size: 30px;
	float: left;
	color: rgba(255, 153, 18, 1);
	text-decoration: none;
}

#headr{
	width: 50%;
	border-bottom: 1px groove rgba(0,0,0,.1);
	margin-top: -50px;
	padding-right: 20px;
	font-size: 30px;
	float: right;
	color: rgba(255, 153, 18, 1);
	text-align:right;
	text-decoration: none;
}

#listLabel{
	font-size: 30px;
	margin:auto;
	margin-top: 50px;	
	text-align: center;
	width: 20%;
	border-bottom: 1px groove rgba(0,0,0,.3);
}

.list{
	border: 1px solid rgba(0,0,0,.4);
	border-top: none;
	width: 20%;	
	font-size: 20px;
	list-style-type: none;
	margin: auto;
	text-align: center;
	max-height: 400px;
	overflow: scroll;
}

.eventItem{
	width: 100%;
	padding: 10px;
	margin-left: -25px;
	border-bottom: 1px groove rgba(0,0,0,.3);
}

#buttonDiv{
	margin: auto;
	text-align: center;
}

.button{
	border-radius: 3px;
    padding: 15px;
    font-size: 10px;
    color: #FFFFFF;
    background-color: rgba(97, 179, 41, 1);
    border: none;
}

.button:hover{
    cursor: pointer;
    background-color: rgba(80, 160, 25, 1);
}

.button:active{
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: rgba(70,150,15,1);
}

.red{
    background-color: rgba(250, 50, 50, 1);
	border-radius: 3px;
    padding: 5px;
    font-size: 10px;
    color: #FFFFFF;
    border: none;
}

.red:hover{
    cursor: pointer;
    background-color: rgba(230, 30, 30, 1);
}

.red:active{
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: rgba(220, 20, 20, 1);
}

.close{
	border: none;
}